@import url("https://at.alicdn.com/t/c/font_2380354_t1sb0hcyzp.css");
.iconfont {
  font-size: 14px;
}
.ant-layout-header .tool-bar-ri .header-icon .iconfont {
  font-size: 16px;
  line-height: 16px;
}
.ant-layout-header .tool-bar-ri .header-icon .ant-badge-count {
  min-width: 16px;
  height: 16px;
  line-height: 16px;
}
.tabs-box .ant-tabs-nav .ant-tabs-nav-wrap .ant-tabs-tab .ant-tabs-tab-btn .iconfont {
  margin-right: 8px;
}
// @font-face {
//   src: url("iconfont.ttf?t=1688353224357") format("truetype");
// }
// .iconfont {
//   font-family: iconfont !important;
//   font-size: 20px;
//   font-style: normal;
//   line-height: 20px;
//   cursor: pointer;
//   -webkit-font-smoothing: antialiased;
//   -moz-osx-font-smoothing: grayscale;
// }
// .icon-xiala::before {
//   content: "\e62b";
// }
// .icon-suoxiao::before {
//   content: "\e641";
// }
// .icon-fangda::before {
//   content: "\e826";
// }
// .icon-contentright::before {
//   content: "\e8c9";
// }
// .icon-contentleft::before {
//   content: "\e8ca";
// }
// .icon-sousuo::before {
//   content: "\e611";
// }
// .icon-zhuti::before {
//   font-size: 22.4px;
//   content: "\e638";
// }
// .icon-xiaoxi::before {
//   font-size: 21.2px;
//   content: "\e61f";
// }
// .icon-zhongyingwen::before {
//   content: "\e8cb";
// }
// .icon-tuichu::before {
//   content: "\e645";
// }
// .icon-sun::before {
//   content: "\e600";
// }
// .icon-moon::before {
//   content: "\e866";
// }
// .icon-moon1::before {
//   content: "\e683";
// }
