.layout-chat {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  .ant-layout {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
    .ant-layout-header {
      flex-shrink: 0;
      padding: 0;
      line-height: normal;
    }
  }
  .logo {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    height: 55px;
    padding: 0 20px;
    .logo-img {
      // width: 30px;
      height: 30px;
    }
    .logo-text {
      margin: 0 0 0 6px;
      font-size: 23.5px;
      font-weight: bold;
      line-height: 23.5px;
      color: var(--hooks-colorTextSider);
      white-space: nowrap;
    }
  }
}
